:root {
    --handleWidth: 2rem;
    --handleHeight: 2rem;
    --trackColor: dimgrey;
    --backgroundColor: transparent;
    --inputBuffer: 3ch;
}

.slider {
    display: flex;
    position: relative;
    margin-left: calc(var(--handleWidth) / 1.8); /* stops the handles from extending beyond edges */
    margin-right: calc(var(--handleWidth) / 1.8);
    height: var(--handleHeight);
    overflow: visible;
}

.slider.withInput {
    /* makes space for the input box */
    margin-right: calc(var(--handleWidth) + var(--inputBuffer));
}

.slider .bar {
    display: block;
    z-index: 2;
    margin: auto;
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--trackColor);
}

.slider.clickJump .bar {
    cursor: pointer;
}

.slider handle {
    position: absolute;
    z-index: 4;
    margin-left: calc(var(--handleWidth) / 2 * -1); /* centers the handle */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: var(--handleWidth);
    height: var(--handleHeight);
    background-color: black;
    border: solid 0.3rem black;
    border-radius: 50%;
    cursor: ew-resize;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
    transform: scale(1);
    outline: solid 0.1rem rgba(255, 255, 255, 0%);
    transition: transform 0.2s, outline 0.3s;
}

/* .slider handle:hover {
    outline: solid 1rem rgba(0, 0, 0, 5%);
}

.slider handle:focus {
    outline: solid 1rem rgba(0, 0, 0, 10%);
}

.slider handle.selected {
    outline: solid 1rem rgba(0, 0, 0, 15%);
} */

@keyframes cakes {
    0%      { transform: scale(1); }
    50%     { transform: scale(1.25); }
    100%    { transform: scale(1); }
}

.slider handle.selected {
    transform: scale(1.25);
}

.slider handle:focus-visible {
    outline: solid 1rem rgba(255, 255, 255, 15%);
    animation: cakes 0.4s;
    transition: outline 0.3s;
}

.slider input {
    position: absolute;
    left: calc(100% + var(--handleWidth) / 1.5);
    width: var(--inputBuffer);
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: right;
}